<style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

</style>. .G3-architects {}


@media screen(max-width:992px) {}
}

.g3-section {
    display: flex;
    justify-content: center;

}

.g3-section img {
    margin-top: 50px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    font-size: 20px;
}

.nav-description {
    display: flex;
    padding-left: 450px;
    font-family: 'Open Sans', sans-serif;
}

.nav-description a {
    padding-left: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
}

.brand {
    font-family: 'Open Sans', sans-serif;
}

.brand-head {
    display: flex;
    justify-content: center;
}

.explore-btn {
    height: 45px;
    width: 120px;
    border-radius: 5px;
    color: rgb(29, 56, 209);
    background-color: rgb(151, 197, 243);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 800;
    border: 0;
    margin-top: 30px;
}

.feat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 50px 250px;
    grid-gap: 50px;
    align-items: center;

}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;

}

.features-description {
    text-align: left;
    margin: 20px;

}

.features-description h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: rgb(125, 120, 120);

}

.our {
    color: black;
}

.fe {
    color: rgb(200, 92, 9);
}

.features-description p {
    font-family: 'Open Sans', sans-serif;
}

.loven {
    display: flex;
    width: 80%;

}

.Love-enjoy {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;

}

.Love-enjoy h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: beige;
    padding: 5px 0 5px 30px;
    border-radius: 5px;
    width: 750px;
    margin-top: 30px;
}

.some-facts {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    height: 200px;
}

.some-facts-icon {
    display: flex;
    height: 200px;
}

.some-facts-icon-title {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid rgb(73, 51, 51);
    margin: 10px;
    padding-left: 30px;
}

.some-facts-icon-title img {
    height: 30px;
    width: 30px;
}

.some-facts-icon-sub {
    font-size: 20px;

}

.some-facts-icon-sub-title {
    padding-right: 10px;
}